{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">

    <title>{{ post.title }}</title>
</head>
<body>
    <div class="container">
        <div id="app" data-post-id="{{ post_id }}">
            <div class="comments">
                <h2 class="h7y6">Комментарии</h2>
                <ul>
                    <div class="comment-sort">
                        <p>Сортировать по:
                        <button @click="sortComments('user_name')">Имени</button>
                        <button @click="sortComments('email')">E-mail</button>
                        <button @click="sortComments('date_added')">Дате</button></p>
                    </div>
                    <button class="add-comment-button" @click="showCommentForm">Добавить комментарий</button>
                    <li v-for="comment in comments">
                        <comment :comment="comment" :comment_form="comment_form" :show-comment-form="showCommentForm" />
                    </li>
                </ul>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <label for="user_name">Ім'я:</label><br>
                    <input type="text" id="user_name" name="user_name"><br>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email"><br>
                    <label for="captcha">CAPTCHA:</label><br>
                    <img src="{% url 'Comments:get_captcha' %}" alt="CAPTCHA"><br>
                    <input type="text" id="captcha" name="captcha"><br>
                    <label for="text">Текст коментаря:</label><br>
                    <textarea id="text" name="text"></textarea><br>
                    <label for="file">Файл:</label><br>
                    <input type="file" id="file" name="file"><br>
                    <label for="photo">Фото:</label><br>
                    <input type="file" id="photo" name="photo"><br>
                    <button type="submit">Відправити</button>
                </form>

                <div class="pagination">
                    <a href="?page={{ previous_page }}" :class="{ disabled: !previous_page }">Попередня сторінка</a>
                    <span>Страница {{ page }} из {{ total_pages }}</span>
                    <a href="?page={{ next_page }}" :class="{ disabled: !next_page }">Наступна сторінка</a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>